{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}
{% block content %}

    <div class="login-container">
    <div class="login-container-img">
        <div class="overlay"></div>
        <div class="centered">
            <div class="login-text-container">
                <p class="login-sm-text">WELCOME TO</p>
                <h1 class="login-heading">HR Management System</h1>
                <h3 class="login-sm-text login-md-text">Log In To Access Dashboard</h3>
            </div>
        </div>
    </div>

    <div class="login-container-form">
        <div class="login-form">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <h2 class="login-text-black">Sign In</h2>
                <label for="username" class="login-labels">Username</label>
                <br/>
                <input type="text" id="username" name="username" class="login-input"/>
                <br>
                <label for="password" class="login-labels">Password </label>
                <br/>
                <input type="password" id="password" name="password" class="login-input">
                <br/>
                <p class="login-text-green">Forgot Password?</p>
                <input type="submit" value="Log In" class="login-button login-sm-text">
            </form>
            {% if error %}
                <p class="login-error">{{ error }}</p>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}