<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HRMS</title>
    {% load static %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock %}
</head>
<body>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
{#    {% with page=page %}    #}
{#        <div class="heading-container">#}
{#                <h1 class="documents-heading">Documents</h1>#}
{#                <form action="{% url page %}" class="documents-search-form" method="GET">#}
{#                    <input type="text" class="documents-search-input" name="term" placeholder="Search">#}
{#                </form>#}
{#            </div>#}
{#            <div class="documents-navbar">#}
{#                <h3>Overview</h3>#}
{#                <div>#}
{#                    <input type="button" class="documents-filter" value="Filter">#}
{#                    <a href="{% url 'add_document' %}" class="documents-add">Add +</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endwith %}#}
<div>
{% block content %}

{% endblock %}
</div>

</body>
</html>