
{%extends 'base.html'%}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'employees/css/employees.css' %}">
{% endblock %}
{%block content%}

{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <script src="https://cdn.tailwindcss.com"></script>#}

    <div class="heading-container">
        <h1 class="employees-heading">Employees</h1>
        <form action="{% url 'allemployees' %}" class="employees-search-form" method="GET">
            <input type="text" class="employees-search-input" name="term" placeholder="Search">
        </form>
    </div>
    <div class="employees-navbar">
        <div class="employees-links">
            <h3 class="active-line"><a href="{% url 'allemployees' %}" class="active">Overview</a></h3>
            <h3><a href="{% url 'all_performance' %}">Performance</a></h3>
            <h3><a href="{% url 'interns' %}">Interns</a></h3>
        </div>
        <div>
{#            <input type="button" class="employees-filter" value="Filter">#}
            <a href="{% url 'add_employee' %}" class="employees-add">Add +</a>
        </div>
    </div>
    <div class="statistics-container">
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-people.svg' %}" alt="people icon">
            <div>
                <h2>{{ employees.count }}</h2>
                <p class="statistics-card-detail">Total Employees</p>
                <p class="statistics-card-detail-green">Departments</p>
                <p class="statistics-card-detail-black">{{ distinct_teams }}</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-profile-check.svg' %}" alt="profile icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Employee Attendance</p>
                <p class="statistics-card-detail-green">/</p>
                <p class="statistics-card-detail-black">/</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-time-dark.svg' %}" alt="time icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Employee Late</p>
                <p class="statistics-card-detail-dark">/</p>
                <p class="statistics-card-detail-black">/</p>

            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-time-light.svg' %}" alt="time icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Employee Overtime</p>
                <p class="statistics-card-detail-green">/</p>
                <p class="statistics-card-detail-black">/</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-profile-x.svg' %}" alt="profile icon">
            <div>
                <h2>{{ former_employees }}</h2>
                <p class="statistics-card-detail">Former Employee</p>
                <p  class="statistics-card-detail-dark">Departments</p>
                <p class="statistics-card-detail-black">{{ distinct_teams }}</p>
            </div>
        </div>
    </div>
    <div>
        <table class="employees-table">
            <thead class="employees-table-header">
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>TEAM</th>
                    <th>OFFICE TIME</th>
                    <th>PRODUCTIVE</th>
                    <th>EARNINGS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="employees-table-body">
                {% for employee in employees.all %}
                    <tr>
                        <td class="centered">{% if employee.image %}
                            <a href="{% url 'personal' employee.id %}">
                                <div class="image-container">
                                    <img id="employee-img-small" src="{{ employee.image.url }}" alt="Employee image" class="employee-img-small">
                                </div>
                            </a>{% endif %}
                        </td>
                        <td><a href="{% url 'personal' employee.id %}" style="text-decoration: none; color: black">{{ employee.name }}</a></td>
                        <td>{{ employee.team }}</td>
                        <td>/</td>
                        <td>/</td>
                        <td>{{ employee.employee_contract.salary }}&euro;</td>
                        <td style="position: relative">
                            <div class="vertical-dots-menu" onclick="toggleAction({{ employee.id }})">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div id="employee-action{{ employee.id }}" class="employees-action">
                                <a href="{% url 'delete_employee' employee.id %}" class="delete-employee">Delete</a>
                                <a href="#" class="delete-employee update-employee">Update</a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function toggleAction(employee_id){
            let employeeAction = document.getElementById(`employee-action${employee_id}`);
            if (employeeAction.style.display === 'none' || employeeAction.style.display === '') {
                employeeAction.style.display = 'flex';
            } else {
                employeeAction.style.display = 'none';
            }
        }
    </script>

{%endblock%}
