{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'employees/css/employees.css' %}">
{% endblock %}
{% block content %}
    <div class="heading-container">
        <h1 class="employees-heading">Profile details</h1>
        <form action="{% url 'allemployees' %}" class="employees-search-form" method="GET">
            <input type="text" class="employees-search-input" name="term" placeholder="Search">
        </form>
    </div>
    <div class="employees-navbar">
        <div class="employees-links">
            <h3 class="active-line"><a href="{% url 'detail' employee.id %}" class="active">Overview</a></h3>
            <h3><a href="">{% if employee.employee_contract.internship %}Intern{% else %}Employee{% endif %}</a></h3>
        </div>
        <div>
{#            <input type="button" class="employees-filter" value="Filter">#}
{#            <a href="{% url 'add_employee' %}" class="employees-add">Add +</a>#}
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-image-container">
            {% if employee.image %}
                <div class="image-container">
                    <img src="{{ employee.image.url }}" alt="Employee image" class="profile-image">
                </div>
            {% else %}
                <img src="{% static 'images/icon-avatar.svg' %}" alt="Avatar" class="profile-image">
            {% endif %}
            <div class="profile-image-text">
                <h2>{{ employee.name }}</h2>
                {% if employee.employee_education.degree %}<p>{{ employee.employee_education.degree }}</p>{% endif %}
                <h3>{{ employee.position }}</h3>
            </div>
        </div>
        <div class="profile-content">
            {% block profile-content %}
            	
            {% endblock %}
        </div>
    </div>
{% endblock %}