{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'employees/css/employees.css' %}">
{% endblock %}
{% block content %}

    <div class="heading-container">
        <h1 class="employees-heading">Employees</h1>
        <form action="{% url 'interns' %}" class="employees-search-form" method="GET">
            <input type="text" class="employees-search-input" name="term" placeholder="Search">
        </form>
    </div>
    <div class="employees-navbar">
        <div class="employees-links">
            <h3><a href="{% url 'allemployees' %}">Overview</a></h3>
            <h3><a href="{% url 'all_performance' %}">Performance</a></h3>
            <h3 class="active-line"><a href="{% url 'interns' %}" class="active">Interns</a></h3>
        </div>
        <div>
{#            <input type="button" class="employees-filter" value="Filter">#}
            <a href="{% url 'add_employee' %}" class="employees-add">Add +</a>
        </div>
    </div>

    <div class="statistics-container">
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-people.svg' %}" alt="people icon">
            <div>
                <h2>{{ employees.count }}</h2>
                <p class="statistics-card-detail">Total Interns</p>
                <p class="statistics-card-detail-green">Departments</p>
                <p class="statistics-card-detail-black">5</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-profile-check.svg' %}" alt="profile icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Intern Attendance</p>
                <p class="statistics-card-detail-green">/</p>
                <p class="statistics-card-detail-black">/</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-time-dark.svg' %}" alt="time icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Interns Late</p>
                <p class="statistics-card-detail-dark">/</p>
                <p class="statistics-card-detail-black">/</p>

            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-time-light.svg' %}" alt="time icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Interns Overtime</p>
                <p class="statistics-card-detail-green">/</p>
                <p class="statistics-card-detail-black">/</p>
            </div>
        </div>
        <div class="statistics-card">
            <img src="{% static 'employees/images/icon-graph.svg' %}" alt="graph icon">
            <div>
                <h2>100</h2>
                <p class="statistics-card-detail">Overall Engagement Score</p>
                <p  class="statistics-card-detail-dark">/</p>
                <p class="statistics-card-detail-black">/</p>
            </div>
        </div>
    </div>
    <div>
        <table class="employees-table">
            <thead class="employees-table-header">
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>TEAM</th>
                    <th>OFFICE TIME</th>
                    <th>PRODUCTIVE</th>
                    <th>EARNINGS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="employees-table-body">
                {% for employee in employees.all %}
                    <tr>
                        <td class="centered">{% if employee.image %}
                            <a href="{% url 'personal' employee.id %}">
                                <div class="image-container">
                                    <img id="employee-img-small" src="{{ employee.image.url }}" alt="Employee image" class="employee-img-small">
                                </div>
                            </a>{% endif %}
                        </td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.team }}</td>
                        <td>/</td>
                        <td>/</td>
                        <td>{{ employee.employee_contract.salary }}&euro;</td>
                        <td>
                            <div class="vertical-dots-menu">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}