{% extends 'employees/detail.html' %}
{% block profile-content %}
    <div class="employees-navbar">
        <div class="employees-links">
            <h3><a href="{% url 'personal' employee.id %}">Resume</a></h3>
            <h3><a href="{% url 'documents' employee.id %}">Documents</a></h3>
            <h3 class="active-line"><a href="{% url 'status' employee.id %}" class="active">Status</a></h3>
            <h3><a href="{% url 'jobdetails' employee.id %}">Job Details</a></h3>
            <h3><a href="{% url 'performance' employee.id %}">Performance</a></h3>
            <h3><a href="{% url 'daysoff' employee.id %}">Days Off</a></h3>
        </div>
        <div>
        </div>
    </div>
    <div class="profile-content-main">
        <div class="resume-personal">
                <p>Status</p>
                <div class="add-employee-row">
                    <div>
                        <label for="status" class="add-employee-label">Status</label>
                        <br>
                        <input id="status" type="text" name="status" placeholder="Type here" class="add-employee-input" value="{{ employee.status }}">
                    </div>
                    <div>
                        <label for="internship" class="add-employee-label">Internship</label>
                        <br>
{#                        <input id="internship" type="text" name="internship" placeholder="Type here" class="add-employee-input">#}
                        <select name="internship" id="internship" class="add-employee-input">
                            <option value="1" {% if employee.employee_contract.internship == True  %} selected {% endif %}>Yes</option>
                            <option value="0" {% if employee.employee_contract.internship == False  %} selected {% endif %}>No</option>
                        </select>
                    </div>
                </div>
                <div class="add-employee-row">
                    <div>
                        <label for="position" class="add-employee-label">Position</label>
                        <br>
                        <input id="position" type="text" name="position" placeholder="Type here" class="add-employee-input" required value="{{ employee.position }}">
                    </div>
                    <div>
                        <label for="team" class="add-employee-label">Team</label>
                        <br>
{#                        <input id="team" type="text" name="team" placeholder="Choose" class="add-employee-input" required value="{{ form_data.team }}">#}
                        <select name="team" id="team" class="add-employee-input" required>
                            <option value="Designer" {% if employee.team == 'Designer' %}selected{% endif %}>Designer</option>
                            <option value="Developer" {% if employee.team == 'Developer' %}selected{% endif %}>Developer</option>
                            <option value="Marketing" {% if employee.team == 'Marketing' %}selected{% endif %}>Marketing</option>
                            <option value="Other" {% if employee.team == 'Other' %}selected{% endif %}>Other</option>
                            <option value="Support" {% if employee.team == 'Support' %}selected{% endif %}>Support</option>
                        </select>
                    </div>
                </div>
                <p>Contract</p>
                <div class="add-employee-row">
                    <div>
                        <label for="contract_start_date" class="add-employee-label">Start date</label>
                        <br>
                        <input id="contract_start_date" type="date" name="contract_start_date" placeholder="Type here" class="add-employee-input" value="{{ employee.employee_contract.start_date|date:'Y-m-d' }}">
                    </div>
                    <div>
                        <label for="contract_end_date" class="add-employee-label">End date</label>
                        <br>
                        <input id="contract_end_date" type="date" name="contract_end_date" placeholder="Type here" class="add-employee-input" value="{{ employee.employee_contract.end_date|date:'Y-m-d' }}">
                    </div>
                </div>
                <p>Budget</p>
                <div class="add-employee-row">
                    <div id="salary-div">
                        <label for="salary" class="add-employee-label">Salary</label>
                        <br>
                        <input id="salary" type="number" name="salary" placeholder="Type here" class="add-employee-input" value="{{ employee.employee_contract.salary }}">
                    </div>
                </div>
        </div>
    </div>
{% endblock %}