{% extends 'employees/detail.html' %}
{% block profile-content %}
    <div class="employees-navbar">
        <div class="employees-links">
            <h3 class="active-line"><a href="{% url 'personal' employee.id %}" class="active">Resume</a></h3>
            <h3><a href="{% url 'documents' employee.id %}">Documents</a></h3>
            <h3><a href="{% url 'status' employee.id %}">Status</a></h3>
            <h3><a href="{% url 'jobdetails' employee.id %}">Job Details</a></h3>
            <h3><a href="{% url 'performance' employee.id %}">Performance</a></h3>
            <h3><a href="{% url 'daysoff' employee.id %}">Days Off</a></h3>
        </div>
        <div>
        </div>
    </div>
    <div class="profile-content-main">
        <div class="resume-nav">
            <a href="{% url 'personal' employee.id %}" class="resume-nav-link">Personal Information</a>
            <a href="{% url 'education' employee.id %}" class="resume-nav-link">Educational Background</a>
            <a href="{% url 'work_experience' employee.id %}" class="resume-nav-link resume-nav-active">Work Experience</a>
        </div>
        <div class="education-content">
            <div class="education-heading">
                <h2>{{ employee.employee_work_experience.company }}</h2>
                <p>{{ employee.employee_work_experience.start_date }}-{{ employee.employee_work_experience.end_date }}</p>
            </div>
            <p></p>
            <p class="education-details">{{ employee.employee_work_experience.details }}</p>
        </div>
    </div>
{% endblock %}